<h3>Domain Whois</h3>
    <form action='domain_whois' class="form-search" method="get">
        Domain: <input type="text" class="input-medium" name="domain">
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

