<!-- Styles -->
<link href="[% c.uri_for('/static/bootstrap/css/bootstrap.css') %]" rel="stylesheet">
<link href="[% c.uri_for('/static/bootstrap/css/bootstrap-responsive.css') %]" rel="stylesheet">
<link href="[% c.uri_for('/static/css/tablesorter.css') %]" rel="stylesheet">
<link href="[% c.uri_for('/static/css/style.css') %]" rel="stylesheet">
<link href="[% c.uri_for('/static/css/prettify.css') %]" rel="stylesheet">
